* {
  margin: 0;
  padding: 0;
}
body {
  background: url(./media/cover.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
div {
  width: 100%;
  // background-color: rgba(255, 107, 107, 1);
  .icon {
    width: 100%;
    background-color: rgba(238, 82, 83, 1);
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
    .fas{
      cursor: pointer;

    }
  }
  ul {
    background-color: rgba(238, 82, 83, 1);

    margin: auto;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      padding: 20px 100px;
      cursor: pointer;
      &:hover{
        opacity: .5;
      }
    }
  }
}
  .active {
    display: block;
  }
@media screen and (min-width: 1407px) and (max-width: 1465px) {
  div {
    ul {
      li {
        padding: 20px 95px;
      }
    }
  }
}
@media (min-width: 1352.22px) and (max-width: 1406.98px) {
  div {
    ul {
      li {
        padding: 20px 90px;
      }
    }
  }
}
@media (min-width: 1297.22px) and (max-width: 1352px) {
  div {
    ul {
      li {
        padding: 20px 85px;
      }
    }
  }
}
@media (min-width: 1241.11px) and (max-width: 1297px) {
  div {
    ul {
      li {
        padding: 20px 80px;
      }
    }
  }
}
@media (min-width: 1131.11px) and (max-width: 1241px) {
  div {
    ul {
      li {
        padding: 20px 70px;
      }
    }
  }
}
@media (min-width: 1019px) and (max-width: 1131px) {
  div {
    ul {
      li {
        padding: 20px 60px;
      }
    }
  }
}
@media (min-width: 907.78px) and (max-width: 1018.98px) {
  div {
    ul {
      li {
        padding: 20px 50px;
      }
    }
  }
}
@media (min-width: 804px) and (max-width: 907.76px) {
  div {
    ul {
      li {
        padding: 20px 40px;
      }
    }
  }
}
@media (max-width: 803.98px) {
  div {
    .icon {
      display: block;
    }
    ul {
      background-color: rgba(255, 107, 107, 1);
      width: 100%;
      cursor: pointer;
      // transition: 5s all  ease-in;
      display: none;
      // transform: translateY(-150%);
      li {
        // opacity: 0;
        display: block;
          &:hover{
            opacity: .5;
          }
      }
    }
  }
}
.nav-active{
  display: block;
  // transition: all .5s ease-in;
  // transform: translateY(0%);
}